@import "compass";
.yui3-editable-hint {
    display: none;
}
.yui3-editable-empty .yui3-editable-hint {
    color: #999;
    display: block;
}
// Same element with .yui3-editable-dialog
.yui3-panel-hidden {
    font-family: Calibri;
    visibility: hidden;
}
.yui3-editable-dialog {
    position: absolute;
    .close-link {
        background: url(http://a.mimgs.com/index/common/btn_close.png) 0 0 no-repeat;
        border: none;
        width: 11px;
        height: 11px;
        position: absolute;
        right: 8px;
        text-decoration: none;
        top: 8px;
    }
}
.yui3-editable-dialog-message {
    color: red;
    padding: 0 0 3px;
    font-size: 93%;
}
.yui3-editable-dialog-content {
    background: #fff;
    border: solid 1px #bbb;
    padding: 30px 10px 35px;
    position: relative;
    @include box-shadow(#bbb 1px 1px 1px);
    @include border-radius(5px);
    .yui3-button {
        border: none;
        background: none;
        cursor: pointer;
        color: #099;
        padding: 0;
        outline: 0;
    }
    .yui3-button-primary {
        background: #666;
        border: none;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        margin-right: 5px;
        padding: 5px 10px;
        width: auto;
        @include border-radius(5px);
    }
}
.yui3-editable-dialog-input {
    border: solid 2px #bbb;
    display: block;
    font-size:  146.5%;
    font-family: Calibri;
    margin: 5px auto;
    min-width: 100px;
    padding: 1px 4px 2px;
    @include border-radius(3px);
    &:focus {
        border-color: #83cdd2;
    }
}
.yui3-editable-dialog-link {
    color: #099;
    text-decoration: none;
}
